.sidenav-container {
  height: 100%;
}
.sidenav {
  width: 200px;
}
.hidden{
  display: none;
}
.spacer{
  flex: 1 1 auto;
}
.mat-toolbar{
  height: 50px;
  background: lightslategray;
  color: #fff;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }
