//.example-container {
//  height: 100%;
//  overflow: hidden;
//}

.basic-container {
  padding: 30px;
}

table {
  width: 100%;
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

//.content{
//  height: 200vh;
//}

